# dependencies
node_modules/

# environment variables
.env

# Google service credentials (VERY important)
credentials.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# build outputs
dist/
build/

# Vite cache
.vite/

# IDE
.vscode/